# Loan Default Prediction
## Team Members:
* Harish Puvvada
* Vamsi Mohan Ramineedi

In [60]:
import os
import pandas as pd
import numpy as np
from IPython.core.display import HTML

In [61]:
df1 = pd.read_csv(os.getenv("FDSDATA")+'LoanStats_2007_to_2011.csv',low_memory=False, skiprows=1)
df2 = pd.read_csv(os.getenv("FDSDATA")+'LoanStats_2012_to_2013.csv',low_memory=False, skiprows=1)
df3 = pd.read_csv(os.getenv("FDSDATA")+'LoanStats_2014.csv',low_memory=False, skiprows=1)

In [62]:
# Dataframes = [Q1data,Q2data,Q3data]
dataset = pd.concat([df1, df2, df3])

In [63]:
dataset.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
dataset.shape

(466352, 145)

In [65]:
dataset.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [66]:
dataset['verification_status'].value_counts()

Verified           168089
Source Verified    150011
Not Verified       148245
Name: verification_status, dtype: int64

In [67]:
dataset = dataset.iloc[:,2:111]

In [68]:
dataset['loan_status'].value_counts()

Fully Paid                                             344151
Charged Off                                             71868
Current                                                 43913
Does not meet the credit policy. Status:Fully Paid       1988
Late (31-120 days)                                       1988
In Grace Period                                          1164
Does not meet the credit policy. Status:Charged Off       761
Late (16-30 days)                                         484
Default                                                    28
Name: loan_status, dtype: int64

In [69]:
dataset.shape

(466352, 109)

In [70]:
HTML(dataset.head().to_html())

In [71]:
data_with_loanstatus_sliced = dataset[(dataset['loan_status']=="Fully Paid") | (dataset['loan_status']=="Charged Off")]

In [72]:

HTML(dataset.head().to_html())

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
5,5000.0,5000.0,5000.0,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
6,7000.0,7000.0,7000.0,60 months,15.96%,170.08,C,C5,Southern Star Photography,8 years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
7,3000.0,3000.0,3000.0,36 months,18.64%,109.43,E,E1,MKC Accounting,9 years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
8,5600.0,5600.0,5600.0,60 months,21.28%,152.39,F,F2,NaN,4 years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
9,5375.0,5375.0,5350.0,60 months,12.69%,121.45,B,B5,Starbucks,< 1 year,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [44]:
data_with_loanstatus_sliced['loan_status'].value_counts()

Fully Paid     344151
Charged Off     71868
Name: loan_status, dtype: int64

In [77]:
HTML(data_with_loanstatus_sliced.head(10).to_html())

In [75]:
dataset.loc[dataset['loan_status']=="Fully Paid",'loan_status'] = 0

In [76]:
dataset.loc[dataset['loan_status']=="Charged Off",'loan_status'] = 1

In [56]:
dataset['loan_status'].head(15)

0     3
1     1
2     3
3     3
4     3
5     3
6     3
7     3
8     1
9     1
10    3
11    3
12    1
13    3
14    1
Name: loan_status, dtype: object